<button
  class="import_button"
  color="primary"
  [class.editing]="this.MODE"
  mat-flat-button
  (click)="importRefClicked($event)"
>
  Import reference
</button>
<div [class.editing]="this.MODE" (keydown.enter)="enterDown()">
  <mat-form-field appearance="fill">
    <mat-label>Enter @bibtex</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      placeholder="p@bibtex{...}"
      [formControl]="bibtexForm"
      required
    ></textarea>
    <mat-error *ngIf="bibtexForm.touched && bibtexForm.invalid"
      >Invalide</mat-error
    ></mat-form-field
  >
  <button class="add_bibtex_button" mat-mini-fab (click)="addClicked($event)">
    <mat-icon>add</mat-icon>
  </button>
</div>
