h1:focus {
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px;
  transition: padding 0.5s, background-color 0.3s;
}

h1 {
  cursor: pointer;
  padding: 0;
  transition: padding 0.5s;
}

div:focus {
  outline: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-of-document {
  margin-top: 10px;
  flex: 1 0 100px;
  max-height: 500px;
}
