<app-document-title
  [newDocumentClicked]="newDocumentClicked"
  [bibliography]="(documentStateObs | async).bibliography"
></app-document-title>

<app-bibliography-details
  [bibliography]="(documentStateObs | async).bibliography"
>
</app-bibliography-details>

<div
  id="content-of-document"
  contenteditable="true"
  (input)="onDescriptionChange($event.target.innerHTML)"
  [innerHTML]="(documentStateObs | async).content"
></div>

<span *ngFor="let bib of bibliography | async">
  <app-bibliography-link
    [bib]="bib"
    [linkDescriptionChange]="onLinkDescriptionChangeCallback()"
  ></app-bibliography-link>
</span>
