h1:focus {
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px;
  margin-right: 20px;
  transition: padding 0.5s, background-color 0.3s, margin-right 0.5s;
}

h1 {
  cursor: pointer;
  padding: 0px;
  margin-right: 40px;
  transition: padding 0.5s, margin-right 0.5s;
  flex-grow: 1;
}

div:focus {
  outline: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-of-document {
  margin-top: 10px;
  flex: 1 0 100px;
  max-height: 500px;
}

.document-link-description {
  margin-left: 45px;
  font-size: smaller;
}

.title-and-button-wrapper {
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
}
