div:focus {
  outline: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-of-document {
  margin-top: 10px;
  flex: 1 0 100px;
  max-height: 500px;
  overflow-y: auto;
}

.button-container {
  display: flex;
  right: 20px;
  top: 20px;
  position: absolute;
  z-index: 100;
  flex-direction: row-reverse;
  width: 130px;
  transform-origin: right;
  transition: transform 0.5s, top 0.5s, right 0.5s;
}

.button-container > * {
  margin: 5px;
}
:host.large .button-container {
  transform-origin: right;
  transform: rotate(-90deg);
  right: 40px;
  top: -10px;
  transition: transform 0.5s, top 0.5s, right 0.5s;
}

:host.large .button-container > * {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

@media only screen and (min-width: 500px) {
  .show-on-phones {
    visibility: hidden;
    position: absolute;
  }
}
@media only screen and (max-width: 500px) {
  .hide-on-phones {
    visibility: hidden;
    position: absolute;
  }
  .show-on-phones {
    visibility: inherit;
  }
}
