<div class="loaders-container">
  <img
    [hidden]="!contentSaveState.writing"
    style="width: 25px; height: 25px; border-radius: 50%"
    src="/assets/loader.svg"
    alt="Content is saving"
  />
  <ng-container *ngIf="!contentSaveState.writing">
    <mat-spinner *ngIf="retrying" [diameter]="20"></mat-spinner>
    <mat-spinner *ngIf="contentSaveState.saving" [diameter]="20"></mat-spinner>
    <ng-container *ngIf="!contentSaveState.saving && !retrying">
      <mat-icon *ngIf="contentSaveState.error" class="red-icon"
        >cancel</mat-icon
      >
      <mat-icon class="green-icon" *ngIf="contentSaveState.saved"
        >check_circle</mat-icon
      >
      <mat-icon
        style="cursor: pointer"
        (click)="retryClicked()"
        *ngIf="contentSaveState?.offline"
        >cloud_off</mat-icon
      >
    </ng-container>
  </ng-container>

  <ng-container *ngIf="showProgress">
    <span
      class="show-progress"
      *ngIf="!contentSaveState.stored && contentSaveState.progress"
    >
      {{ contentSaveState?.progress?.success }} /
      {{ contentSaveState?.progress?.total }}
    </span>
    <span *ngIf="contentSaveState.stored" class="show-progress">
      {{ contentSaveState.stored }} stored
    </span>
  </ng-container>
</div>
