<h3>KeyBoard Shortcuts</h3>
<ul>
  <li>
    <pre>CTRL + G</pre>
    Open groupping tool
  </li>
  <li>
    <pre>CTRL + mouse-drag</pre>
    Box-select of themes
  </li>
  <li>
    <pre>CTRL + Alt + G</pre>
    Group selected themes (ancestor lvl.)
  </li>
  <li>
    <pre>CTRL + D</pre>
    Delete selected themes and related
  </li>
  <li>
    <pre>escape</pre>
    Closes side panel and groupping tool
  </li>
</ul>
<h3>Your data</h3>
<p>
  Your data is totally anonymously stored in a database. Only you, by connecting
  with your Google account can help the system to know what is your data. The
  data is not encrypted (maybe in the future) so don't store
  <b>too sensitive</b> data in this tool, I'm not a security engineer :) (yet).
</p>
<p>
  If you decided to delete and/or retrieve all your data please send an email to
  <a href="mailto:marc-antoine@laville.work">marc-antoine@laville.work</a> and
  provide this id : <em>{{ (authState | async)?.id }}</em
  >.
</p>
<h3>Feature Development, what's coming next ?</h3>
<ul>
  <li>Import/Export bibtex references</li>
  <li>Sharing viewing/editing rights with someone else</li>
  <li>Coloring themes with different saturation for groups</li>
</ul>
