<button
  mat-mini-fab
  (click)="colorPaletteClicked()"
  [class.open]="open"
  color=""
>
  <div class="palette-and-circles-container">
    <mat-icon
      [class.counter-rotate]="counterRotate"
      [ngStyle]="{ color: colorSelected ? toHSL(colorSelected) : '' }"
      >palette</mat-icon
    >
    <div class="color-circle-containers">
      <div
        *ngFor="let color of colorPalette"
        class="color-circle"
        [ngStyle]="{ backgroundColor: toHSL(color) }"
        (click)="colorClicked(color)"
      ></div>
      <div
        style="background-color: lightgray"
        class="color-circle"
        (click)="colorClicked(undefined)"
      ></div>
    </div>
  </div>
</button>
