<ng-container *ngIf="authServiceInitialized | async">
  <button
    mat-stroked-button
    *ngIf="!(auth | async)"
    (click)="signInWithGoogle()"
  >
    <div class="login-spinner-wrapper">
      Login
      <mat-spinner *ngIf="loginIn" [diameter]="20"></mat-spinner>
    </div>
  </button>
  <ng-container *ngIf="auth | async">
    <!-- <span>{{ (auth | async).firstName }}</span> -->
    <img
      alt="Image of your google account"
      class="google-photo"
      style="height: 40px; width: 40px"
      [src]="(auth | async).photoUrl"
    />
  </ng-container>
</ng-container>
