<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      (keydown)="onKeyDown($event)"
      type="text"
      placeholder="Find your theme (↓ for suggestions)"
      aria-label="Name of theme"
      matInput
      [formControl]="inputControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      [class]="xlheight && 'xlheight'"
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="getOptionName"
      (optionSelected)="optionSelected($event.option.value.id)"
    >
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        <span
          class="small-dot-color"
          [ngStyle]="{ backgroundColor: getHue(option) }"
        ></span>
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
