<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Find your theme"
      aria-label="Name of theme"
      matInput
      [formControl]="inputControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="getOptionName"
      (optionSelected)="optionSelected($event.option.value.id)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
