form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-top: 10px;
}

.double-form-field-container {
  display: flex;
  justify-content: space-between;
}
.double-form-field-container mat-form-field {
  flex: 0 0 45%;
}
.with_add_button__container {
  display: flex;
  align-items: center;
}
.with_add_button__container mat-form-field {
  flex: 1 0 80%;
}

.with_add_button__container > button {
  margin-left: 20px;
  margin-bottom: 1.34375em;
}
