<mat-sidenav-container>
  <mat-sidenav
    id="mat-sidenav"
    #sidenav
    mode="top"
    autoFocus="false"
    [class.large]="large | async"
  >
    <button id="enlarge-button" (click)="newDocumentClicked()">
      {{
        (documentStateObs | async).bibliography
          ? "Edit Document"
          : "New Document"
      }}
    </button>
    <div id="mat-sidenav-content">
      <app-document-viewer [documentStateObs]="documentStateObs">
      </app-document-viewer>
      <app-source-manager
        [class.large]="large | async"
        [bibliographyId]="
          (documentStateObs | async).bibliography &&
          (documentStateObs | async).contentId
        "
      ></app-source-manager>
    </div>
  </mat-sidenav>

  <button mat-raised-button color="primary" (click)="activateEdgeCreation()">
    Create Edges {{ edgeCreationMode() ? "🟢" : "" }}
  </button>
  <button type="button" mat-button (click)="openSideNav()">
    Toggle sidenav
  </button>
  <button type="button" mat-button (click)="saveClicked()">Save</button>
  <button type="button" mat-button (click)="resetClicked()">Reset</button>
  <button type="button" mat-button (click)="addThemeClicked()">
    Add Theme
  </button>
  <div id="cy"></div>
</mat-sidenav-container>
<router-outlet></router-outlet>
