#cy {
  display: block;
  height: 70%;
  width: 70%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  z-index: -1;
}
mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 600px;
  padding: 50px;
}
