<mat-sidenav-container>
  <mat-sidenav
    id="mat-sidenav"
    #sidenav
    mode="top"
    autoFocus="false"
    [class.large]="large | async"
  >
    <div id="mat-sidenav-content">
      <app-document-viewer
        [class.large]="large | async"
        [large]="large | async"
      >
      </app-document-viewer>
      <app-source-manager
        [open]="large | async"
        [class.large]="large | async"
        [bibliographyId]="
          (documentStateObs | async).bibliography &&
          (documentStateObs | async).contentId
        "
      ></app-source-manager>
    </div>
  </mat-sidenav>
  <div class="button-container">
    <div>
      <button mat-mini-fab color="primary" (click)="activateEdgeCreation()">
        <div class="show-label-on-hover">
          <mat-icon>timeline</mat-icon>
          <span>Create an edge</span>
        </div>
      </button>
    </div>
    <div>
      <button
        type="button"
        mat-mini-fab
        color="warn"
        (click)="deleteAllMyRemoteDataClicked()"
      >
        <div class="show-label-on-hover">
          <mat-icon>not_interested</mat-icon>
          <span>Clear Remote Data</span>
        </div>
      </button>
    </div>
    <div>
      <button
        type="button"
        mat-mini-fab
        color="accent"
        (click)="deleteAllMyLocalClicked()"
      >
        <div class="show-label-on-hover">
          <mat-icon>no_sim</mat-icon>
          <span>Clear Local Data</span>
        </div>
      </button>
    </div>
    <div>
      <button
        type="button"
        mat-mini-fab
        color="primary"
        (click)="addThemeClicked()"
      >
        <div class="show-label-on-hover">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Add a theme node</span>
        </div>
      </button>
    </div>
    <div>
      <button
        type="button"
        mat-mini-fab
        color="primary"
        (click)="fitToScreenClicked()"
      >
        <div class="show-label-on-hover">
          <mat-icon>fullscreen</mat-icon>
          <span>Fit to screen</span>
        </div>
      </button>
    </div>
  </div>
  <app-google-authentication></app-google-authentication>
  <div #cy id="cy"></div>
  <div class="left-bottom-state">
    <app-content-save-state-indicator
      [showProgress]="true"
    ></app-content-save-state-indicator>
  </div>
</mat-sidenav-container>
<router-outlet></router-outlet>
