<mat-sidenav-container>
  <mat-sidenav id="mat-sidenav" #sidenav mode="top">
    <h1>{{ (documentStateObs | async).title }}</h1>
    <small>node id : {{ (documentStateObs | async).contentId }}</small>
    <div>
      <p *ngFor="let lorem of (documentStateObs | async).content">
        {{ lorem }}
      </p>
    </div>
  </mat-sidenav>

  <button mat-raised-button color="primary" (click)="activateEdgeCreation()">
    Create Edges {{ edgeCreationMode() ? "🟢" : "" }}
  </button>
  <button type="button" mat-button (click)="openSideNav()">
    Toggle sidenav
  </button>
  <button type="button" mat-button (click)="saveClicked()">Save</button>
  <button type="button" mat-button (click)="resetClicked()">Reset</button>
  <button type="button" mat-button (click)="addThemeClicked()">
    Add Theme
  </button>
  <div id="cy"></div>
</mat-sidenav-container>
<router-outlet></router-outlet>
