#cy {
  display: block;
  height: 70%;
  width: 70%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  z-index: -1;
}
mat-sidenav-container {
  height: 100%;
}

#enlarge-button {
  position: absolute;
}

#mat-sidenav-content {
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

mat-sidenav {
  width: 600px;
  padding: 50px;
  transition: width 0.3s;
}
mat-sidenav.large {
  width: 1200px;
  padding: 50px;
  transition: width 0.5s;
}

app-document-viewer {
  flex: 0 1 480px;
  overflow-y: auto;
}
app-source-manager {
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: width 0.2s, margin 0.3s, opacity 0.2s;
}
mat-sidenav.large app-source-manager {
  width: 480px;
  overflow: hidden;
  margin: 0 50px;
  opacity: 1;
  transition: width 0.5s, margin 0.5s, opacity 0.2s;
}

.left-bottom-state {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}
